homePageContainerStyles:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100;
  z-index: -10;
  background: url("../resources/mobile-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

title {
  padding-top: 30vh;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: Palanquin Dark;
  font-size: 3.5vh;
}

introText {
  text-align: center;
  font-family: roboto;
  border-radius: 30px;
  background-color: #5ed1ec;
  color: #033665;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2.2vh;
}

scrollDownContainer {
  margin-top: 5vh;
  text-align: center;
}

whatAreWeHeaderStyle {
  margin-top: 40vh;
  color: white;
  font-weight: bold;
  font-family: Palanquin Dark;
  font-size: 3vh;
  text-align: center;
}

whatAreWeBodyStyle {
  font-family: roboto;
  border-radius: 20px;
  background-color: #5ed1ec;
  color: #033665;
  font-size: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

whoAreWeHeaderStyle {
  margin-top: 40vh;
  color: white;
  font-weight: bold;
  font-family: Palanquin Dark;
  font-size: 3vh;
  text-align: center;
}

whoAreWeBodyStyle {
  font-family: roboto;
  border-radius: 20px;
  background-color: #5ed1ec;
  color: #033665;
  font-size: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40vh;
}

socialMediaContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #5ed1ec;
  text-align: center;
  height: 5vh;
}

socialIconStyle {
  width: 5vh;
  margin-left: 10px;
  margin-right: 10px;
}

leftsocialIconStyle {
  width: 5vh;
}

rightsocialIconStyle {
  width: 5vh;
}
